{% assets "js_client" %}
<script src="{{ url_for("static", filename="js/lib/jquery/jquery.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/lib/lodash.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="webassets/packed_client.js") }}"></script>
{% endassets %}

<div class="ubl-mesh-editor-outer" >
    <div id="ublMeshEditorNonUBLWarning" class="ubl-mesh-editor-warning" data-bind="visible: notUBL() && !settings.settings.plugins.ublmeshedit.hide_non_ubl_warning()">
        <i class="fas fa-exclamation-triangle fa-2x"></i>
        <span class="ubl-mesh-editor-warning">Warning</span>
        <p>This mesh does not look like a Unified Bed Leveling (UBL) mesh. This plugin will attempt to provide limited functionality for it, but some features are disabled and others may not function as expected.</p>
    </div>
    <div id="ublMeshEditorGrid"></div>
    <div>
        <button id="ublMeshEditorGetMeshBtn" class="btn btn-primary" data-bind="click: getMesh, enable: printerState.isReady() && !waitingOK()">
            <i class="fas fa-border-all"></i>
            <span>Get Mesh</span>
        </button>
        <button id="ublMeshEditorClearBtn" class="btn" data-bind="click: zeroMesh, enable: printerState.isReady() && !waitingOK() && !notUBL()">
            <i class="fas fa-trash-alt"></i>
            <span>Clear</span>
        </button>
        <button id="ublMeshEditorExport" class="btn" data-bind="click: exportMesh, enable: printerState.isReady() && !waitingOK() && gridData()">
            <i class="fas fa-file-code"></i>
            <span>Export GCode</span>
        </button>
    </div>
    
    <div>
        <div>Z Value: <input class="mesh-height" min="-2" max="2" step="0.025" type="number" id="ublMeshEditVal" data-bind="value: pointValue"></div>
        <button id="ublMeshEditSavePoint" disabled class="btn btn-primary" data-bind="click: savePoint">
            <i class="fas fa-crosshairs"></i>
            <span>Save Value</span>
        </button>
    </div>
    <div data-bind="hidden: notUBL">
        <span>Mesh Save Slot:</span><input type="number" data-bind=" value: saveSlot">
    </div>
    <div data-bind="hidden: notUBL">
        <button id="ublMeshEditorSaveToSlot" class="btn" data-bind="click: saveToSlot, enable: printerState.isReady() && !waitingOK() && !notUBL()">
            <i class="fas fa-download"></i>
            <span>Save</span>
        </button>
        <button id="ublMeshEditorLoadFromSlot" class="btn" data-bind="click: loadFromSlot, enable: printerState.isReady() && !waitingOK() && !notUBL()">
            <i class="fas fa-upload"></i>
            <span>Load</span>
        </button>
    </div>
</div>

<a id="ublMeshEditExportAnchor" style="display:none"></a>