<h3>UBL Mesh Editor</h3>

<div class="form-horizontal">
   <h4>GCode Export</h4>
   <div class="control-group">
        <label class="control-label">Export Filename</label>
        <div class="controls">
            <input type="text" id="ublMeshEditSettingsExportGCodeFilename" class="input-block-level" data-bind="value: settings.plugins.ublmeshedit.export_gcode_filename">
            <span class="help-block">The name of the file that is downloaded when 'Export GCode' is clicked. It can include the following placeholders:<br>
                <ul>
                    <li>{dateTime} - the current date and time in YYYY-MM-DD HH.mm.ss format</li>
                    <li>{printerName} - the name of the connected printer profile</li>
                </ul>
            </span>
        </div>
    </div>
    <hr>
    <h4>ABL Compatibility</h4>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.ublmeshedit.hide_non_ubl_warning">Hide Non-UBL Mesh Warning
            </label>
            <span class="help-block">A warning will be shown on the UBL Mesh Editor tab if a non-UBL mesh (some other ABL) is detected. If checked, this warning will be hidden.</span>
        </div>
    </div>
    
    <h4>Mesh Display</h4>
    <div class="control-group">
        <div class="controls">
            <div class="alert alert-block"><strong>Note:</strong>These settings will not take affect until the mesh is retrieved again.</div>
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.ublmeshedit.show_mesh_headers">Show Mesh Row &amp; Column Indexes
            </label>

        </div>
        <div class="controls">
            <h5>Circular Beds</h5>
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.ublmeshedit.circular_bed">Circular Bed (Delta)
            </label>
            <span class="help-block">For circular beds, mesh squares outside of the bed will be indicated differently.</span>
        </div>
        <label class="control-label">Circular Bed Mesh Inset</label>
        <div class="controls">
            <input type="number" min="0" max="100" data-bind="value: settings.plugins.ublmeshedit.circular_bed_inset_perc">%
            <span class="help-block">Mesh inset as a percentage of the bed diamter.</span>
        </div>
    </div>
</div>