#tab_plugin_ublmeshedit table.mesh-grid {
    border-collapse: collapse;
}

#tab_plugin_ublmeshedit td.mesh-top {
    border-top: 1px solid;
}

#tab_plugin_ublmeshedit td.mesh-left {
    border-left: 1px solid;
}

#tab_plugin_ublmeshedit td.mesh-right {
    border-right: 1px solid;
}

#tab_plugin_ublmeshedit td.mesh-bottom {
    border-bottom: 1px solid;
}

#tab_plugin_ublmeshedit div.ubl-mesh-editor-warning {
    border: 2px solid rgb(185, 143, 27);
    color: rgb(109, 46, 46);
    background-color: rgb(236, 228, 156);
}

#tab_plugin_ublmeshedit div.ubl-mesh-editor-info {
    border: 2px solid rgb(0, 11, 114);
    color: rgb(51, 87, 204);
    background-color: rgb(225, 231, 252);
}

#tab_plugin_ublmeshedit div.ubl-mesh-editor-warning,
#tab_plugin_ublmeshedit div.ubl-mesh-editor-info {
    border-radius: 5px;
    padding: 5px;
}

#tab_plugin_ublmeshedit span.ubl-mesh-editor-warning,
#tab_plugin_ublmeshedit span.ubl-mesh-editor-info  {
    font-size: 1.5em;
    font-weight: bold;
}

#tab_plugin_ublmeshedit button.mesh-button {
    width: 4em;
    height: 4em;
    border: 1px solid rgb(54, 189, 54);
    border-radius: 3px;
    color: #fff;
    margin: 0px;
}

#tab_plugin_ublmeshedit button.mesh-button-offbed {
    opacity: 0.3;
}

#tab_plugin_ublmeshedit button.mesh-button:hover {
    border: 2px solid #fff;
}

#tab_plugin_ublmeshedit button.mesh-selected {
    border: 3px solid #000;
}

#tab_plugin_ublmeshedit div.ubl-mesh-editor-outer > div {
    margin: 5px;
}